Binaries
Build
DerivedDataCache
Intermediate
Saved
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Alive/Maps/Demoscene.umap
Content/Alive/Maps/Demoscene_BuiltData.uasset
